doctype 5
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href='/bootstrap/css/justified-nav.css')
    script(src='http://localhost:35729/livereload.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/phaser/phaser.min.js?v=2.0.4')
    script(src='/js/game.js')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
  body
    block content
